{% extends "base.html" %}

{% block content %}
    
    <div>
        <h1>Add a Blog Entry</h1>
    </div>
    <form method='post'>
            <label for=title>Title for new blog</label>
            <br>
                <input type="text" name="title" id="title" value={{title_value}}>
                <label class="error">{{title_error}}</label>
            <br>
            <br>

            <label for="blog">Your New Blog Post: </label>
                <br>
        
            <textarea name='post' id = "blog" rows="5" cols="30">{{post_value}}</textarea>
            <label class="error">{{body_error}}</label>
            <br>
            <br>
        
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    

{% endblock %}