<!doctype html>
<html>
    <head>
        <link  href="./style.css" type="text/css" rel="stylesheet">
        <title>{{title}}</title>
        <!-- <style>
            .error {
                color: red;

            }
        </style> -->
    </head>
<body>

    
    <!-- <div>
            <a href="/blog"><p style="display:inline-block;">Main Blog Page</p></a>
            &nbsp;&nbsp;&nbsp;
            <a href="/newpost"><p style="display:inline-block;">Add a blog entry</p></a>
        </div> -->
        <nav>
                <ul id="user-account">
                    <li><a href="/login">login</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/blog">all posts</a></li>
                    <li><a href="/newpost">new post</a></li>
                </ul>
            </nav>
        
        {% block content %}
        {% endblock %}

</body>
</html>