
{% extends "base.html" %}
{% block content %}


                
        
        <h1>blog users!</h1>
        <div>
        {% if posts|length == 0 %}
        <p>No posts yet</p>
        {% else %}
    
            
                {% for post in posts %}
                <h2><a href="/post-title?id={{post.username}}" >{{post.title}}</a></h2>
                    <p>{{post.text}}</p>
                    
                    <br>
                {% endfor %}
            </div>
            
    
        
        
            {% endif %}


{% endblock %}


    

