{% extends "base.html" %}
{% block content %}


<body>
    <nav>
        <ul id="user-account">
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blog">all posts</a></li>
            <li><a href="/blog/newpost">new post</a></li>
        </ul>
    </nav>
    
<style>
.error {
    color: red;
}
</style>
<h1>Login</h1>
<p class="error"></p>
<form method="post">
    <table>
        <tbody><tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </tbody></table>
    <input type="submit">
</form>
<p>Don't have an account? <a href="/register">Create one!</a></p>


</body>



{% endblock %}