{% extends "base.html" %}

{% block content %}
      


                   {% if posts|length == 0 %}
                   <p>No post yet</p>
                   {% else %}
               
                           <ul>
                           {% for post in posts %}
                           <li>
                                <div>
                                        <a href="/blog_page?id={{post.id}}"><h1>{{post.title}}</h1></a>
                                        </div>
                                        <br>
                                       <p>{{post.text}}</p>
                                       <p class="post-author">written by
                                       <a href="/blog?user={{post.owner.id}}">
                                           {{post.owner.username}}</a></p>

    
                              
                           </li>
           
                           {% endfor %}
                           </ul>
                       </div>
                       
               
                   
                   
                       {% endif %}
           
    
    
       
{% endblock %}